<div class="navbar">
    <div class="avatar">
        <a routerLink='/'><i class="fa fa-fw fa-home"></i> Breakfix</a>
    </div>
    <div class="avatar">
        <a routerLink="/"><i class="fa fa-fw fa-search"></i> Search</a>
        
        <div class="dropdown">
            <div class="dropbtn"><i class="fa fa-fw fa-map"></i>Location
              <i class="fa fa-caret-down"></i>
            </div>
            <div class="dropdown-content">
              <a routerLink="/">East Coast</a>
              <a routerLink="/">West Coast</a>
              
            </div>
          </div>
          <a routerLink="/"><i class="fa fa-fw fa-cogs"></i> Setting</a> 
        <a routerLink="/login"><i class="fa fa-user-circle"></i> Login</a>
  
    </div>

</div>