<p>login works!</p>
<form [formGroup]="myform" (ngSubmit)="onSubmit()">
  <div>
    <label for="Name">Name:</label>
    <input type="string" id="Name" formControlName="name">
  </div>



  <div>
    <label for="email">Email:</label>
    <input type="string" id="email" formControlName="email">
  </div>

  <div>
    <label for="password">Password:</label>
    <input type="string" id="password" formControlName="password">
  </div>

  <button type="submit" [disabled]="!myform.valid">Register</button>
</form>