<p>ticket-list works!</p>
<div class="list" >
    <table class="table">
        <thead>
          <tr>
            <th scope="col">#</th>
            <th scope="col">Lorem</th>
            <th scope="col">Ipsum</th>
            <th scope="col">Dolor</th>
            <th scope="col">Lorem</th>
            <th scope="col">Ipsum</th>
            <th scope="col">Dolor</th>
            <th scope="col">Lorem</th>
            <th scope="col">Ipsum</th>
            <th scope="col">Dolor</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let ticket of tickets">
            <th scope="row">1</th>
            <td>Sit</td>
            <td>Amet</td>
            <td>Sit</td>
            <td>Amet</td>
            <td>Sit</td>
            <td>Amet</td>
            <td>Sit</td>
            <td>Amet</td>

            <td>
              <button type="button" class="btn btn-link btn-sm px-3" mdbRipple rippleColor="dark">
                <i class="fas fa-times"></i>
              </button>
            </td>
          </tr>
          
        </tbody>
      </table>
</div>
