<app-checkboxes></app-checkboxes>


<div>
  <input type="file" (change)="onFileChange($event)" accept=".xlsx, .xls">
</div>
<div>
  <button (click)="exportexcel()">Export to Excel</button>
</div>
<div>
  <button (click)="addticket()">Post data to backend mongoose</button>
</div>

<div *ngIf="excelData">
  <h3>Uploaded Data:</h3>

</div>
<div class="list" >
  <table class="table" id="excel-table">
      <thead>
        <tr >
          <th scope="col" >ID</th>
          <th scope="col" *ngFor="let head of report_heads">{{head}}</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let data of tickets">
          <th scope="row">{{data.id}}</th>
          <!-- <td *ngFor="let item of data | keyvalue">{{item.value}}</td> -->
          <td *ngIf="report_heads.includes('ticket_number')"><a [title]="data.ticket_number + 'details'" [routerLink]="['/tickets', data.id]">{{data.ticket_number}}</a></td>
          <td *ngIf="report_heads.includes('server_sn')">{{data.server_sn}}</td>
          <td *ngIf="report_heads.includes('ip')">{{data.ip}}</td>
          <td *ngIf="report_heads.includes('start_date')">{{data.start_date}}</td>
          <td *ngIf="report_heads.includes('close_date')">{{data.close_date}}</td>
          <td *ngIf="report_heads.includes('product_name')">{{data.product_name}}</td>
          <td *ngIf="report_heads.includes('model')">{{data.model}}</td>
          <td *ngIf="report_heads.includes('location')">{{data.location}}</td>
        
          <td *ngIf="report_heads.includes('failure_type')">{{data.failure_type}}</td>
          <td *ngIf="report_heads.includes('if_change_part')">{{data.if_change_part}}</td>
          <td>
            <button type="button" (click)="remove_ticket(data.id)">
              <i class="fa fa-times"></i>
            </button>
          </td>
        </tr>
        
      </tbody>
    </table>
    </div>
